<h2>Your Dashboard</h2>
<hr/>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">My Profile</h4></div>
            <div class="panel-body">
              <profile-component></profile-component>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Neighbors</h4></div>
            <div class="panel-body">
                <li *ngFor="let item of profiles" style="border: 1px solid #efefef; padding: 3px; margin-bottom: 3px; clear: both; height: 66px;">
                    <a href="javascript:void(0);" (click)="viewFamily(item._id)">
                        <div class="img_thumb" style="float: left; width: 60px; height: 60px; margin-right: 5px; border: 1px solid #efefef; color: #ffffff; text-align: center; background-color: #999999">
                            <div *ngIf="!item.image">No<br/>Image</div>
                            <img src="/app/uploads/{{item.image}}" align="absmiddle" style="max-width: 60px;" *ngIf="item.image"/>
                        </div>The {{item.lastName}} Family</a>
                </li>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Documents</h4></div>
            <div class="panel-body">
                <ol>
                    <li *ngFor="let item of documents">
                        <a href="/app/docs/{{item}}" target="_blank">{{item}}</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Events</h4></div>
            <div class="panel-body">
               <ul>
                   <li>Saturday, September 10, 2016 @ 7pm<br>
                   <strong>FoxRidge Ladies Bunco Night!</strong></li>
               </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">News!!</h4></div>
            <div class="panel-body">
               Coming Soon!
            </div>
        </div>
    </div>
</div>

