<div class="row" style="margin-bottom:20px; background: #efefef;">
    <div class="col-md-4 text-left">
        <img src="/app/images/sign.jpg" style="width: 100%; margin: 0 auto"/>
    </div>
    <div class="col-md-8 text-left">
        <h2>Welcome to the Fox Ridge Community in Indian Land, SC</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <login-component></login-component>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Location</h3>
            </div>
            <div class="panel-body">
                Coming Soon!
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Resources</h3>
            </div>
            <div class="panel-body">
                Coming Soon!
            </div>
        </div>
    </div>
</div>


